---
import HeaderEspecialidades from "../../components/HeaderEspecialidades.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import AsesoriaEspecialidades from "../../components/AsesoriaEspecialidades.astro";

const title = "Filtración: Protección y Limpieza";
const description = "Asegúrate de que tu motor funcione sin problemas con nuestros sistemas de filtración de alta eficiencia, que eliminan impurezas y prolongan la vida útil de los componentes.";
---

<MainLayout title={title} descripción={description}>


  <div class="">
    <div class=" bg-cover content-center" style="background-image: url(/img/banner-especialidades.jpg);">
    
      <HeaderEspecialidades especialidad="Filtración." img="/img/filtración.webp" ></>

      </div>
    
      <div
        class="flex justify-center flex-col text-center lg:w-[1000px] sm:w-auto lg:mx-auto sm:mx-4 lg:my-12 sm:my-4"
      >
    
      <div class="mb-12">
        <p class="text-justify animacion from-left">
          Los fluidos vitales de un camión son el aceite, agua, aire y combustible. <br>
Componentes esenciales para mantener el motor y otros sistemas de tu camión libres de impurezas. Incluyen filtros de aire, aceite, combustible y cabina, diseñados para atrapar partículas dañinas y garantizar un rendimiento óptimo del camión. <br>
En Fertrac, ofrecemos una amplia gama de repuestos de filtración de las mejores marcas del mercado. Nos comprometemos a proporcionar productos de alta calidad y durabilidad, asegurando que tu camión funcione de manera eficiente y segura.

    
        </p>
      </div>
    
          <div class="animacion from-left logos flex flex-wrap justify-center items-center lg:gap-28 sm:gap-8 mx-auto">
            <img class="w-56" src="/img/fleetguard.png" alt="" />


      
          </div>
          
          
          
      </div>
  </div>

  <AsesoriaEspecialidades/>
  </div>
  </div>




</MainLayout>
<style>
.animacion img {
    width: 14rem;
  }

  @media (min-width: 360px) {
    .animacion img  {
        width: 8rem;
    }
  }

  @media (min-width: 1080px) {
    .animacion img {
        width: 14rem;
    }
  }

  .animacion{
   transition: opacity 0s ease, filter 0.5s ease; 
   animation: fadeInUp 1s ease forwards; 
   animation-delay: 1s;
}

.from-left {
  opacity: 0;
  filter: blur(4px); 
  animation: fadeInLeft 2s ease forwards;
  animation-delay: 0.8s; 
}



  @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
}
100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}
}




</style>