<div
class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800 animacion from-left"
id="settings"
role="tabpanel"
aria-labelledby="settings-tab"
>
<div class="flex items-center justify-center w-screen sm:flex-wrap">
  <div
    class="relative flex items-end overflow-hidden rounded-lg shadow transition hover:shadow-lg lg:w-1/4 sm-auto h-[550px]"
  >
    <img
      alt=""
      src="/img/gestion-garantia.jpg"
      class="absolute inset-0 h-full w-full object-cover"
    />

    <div
      class="relative bg-gradient-to-t from-gray-900/50 to-gray-900/100"
    >
      <div class="p-4 sm:p-6">
        <a href="#">
          <h3 class="mt-0.5 text-lg !text-white">Gestion de Garantias</h3>
        </a>

        <p class="mt-2 text-sm/relaxed !text-white/95">
          Respaldo total en cada venta. Nuestro servicio de Gestión de
          Garantías asegura que cualquier inconveniente con los repuestos
          adquiridos sea atendido de manera eficiente y profesional.
        </p>
      </div>
    </div>
  </div>

  <div>
    <form id="form-garantia" class="bg-white p-6 rounded-lg">
      <div class="flex flex-wrap lg:gap-8 sm:gap-0">
        <div class="field lg:w-auto sm:w-full">
          <label for="nombre">Nombre</label>

          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i class="fa-solid fa-user-tie"></i>
            </div>
            <input
              type="text"
              id="nombre"
              name="nombre"
              class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
              placeholder="Carlos"
              required
            />
          </div>
        </div>

        <div class="field lg:w-auto sm:w-full">
          <label for="nombre">Apellido</label>

          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
            >
              <i class="fa-solid fa-user-tie"></i>
            </div>
            <input
              type="text"
              id="apellido"
              name="apellido"
              class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
              placeholder="Rodriguez"
              required
            />
          </div>
        </div>
      </div>

      <div class="field">
        <label for="correo">Correo electronico</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
          >
            <i class="fa-solid fa-user-tie"></i>
          </div>
          <input
            type="text"
            id="correo"
            name="correo"
            class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
            placeholder="Carlosrodriguez@gmail.com"
            required
          />
        </div>
      </div>

      <div class="field">
        <label for="celular">Numero</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
          >
            <i class="fa-solid fa-user-tie"></i>
          </div>
          <input
            type="text"
            id="celular"
            name="celular"
            class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
            placeholder="+XX XXX XXXX XXXX"
            required
          />
        </div>
      </div>

      <div class="field">
        <label for="empresa">Empresa</label>

        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
          >
            <i class="fa-solid fa-user-tie"></i>
          </div>
          <input
            type="text"
            id="empresa"
            name="empresa"
            class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block ps-10 p-2.5"
            placeholder="Empresa"
            required
          />
        </div>
      </div>

      <div class="field">
        <label for="correo">Mensaje</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none"
          >
          </div>
          <textarea
            rows="6"
            id="correo"
            name="correo"
            class="w-full border-gray-300 bg-gray-100 rounded-lg py-3 px-4 text-gray-800 text-sm block"
            placeholder="Hola, quiero saber mas sobre..."
            required></textarea>
        </div>
      </div>

      <label>
        <input
          type="checkbox"
          name="dataConsent"
          id="dataConsent-garantia"
          required
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="link-checkbox"
          class="text-sm font-medium text-gray-900 dark:text-gray-300"
          >Acepto la
          <a
            href="/img/politica-manejo-de-datos.pdf"
            class="text-azul hover:underline"
            download="politica-manejo-de-datos.pdf">Politica de Datos</a
          ></label
        >
      </label>

      <button class="w-full my-2">
        <input
          class="cursor-pointer text-white hover:text-naranja w-full bg-naranja w-full display inline-block py-2 px-4 rounded hover:bg-white hover:border border-naranja hover:text-naranja"
          type="submit"
          id="button-garantia"
          value="Enviar Correo"
        />
      </button>
    </form>


  </div>
</div>
</div>

<style>
  .field {
    margin-bottom: 10px;
  }

  .field label {
    display: block;
    font-size: 16px;
    color: #777;
  }

  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }

  .animacion {
    transition:
      opacity 0s ease,
      filter 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1s;
  }

  .from-left {
    opacity: 0;
    filter: blur(4px);
    animation: fadeInLeft 1s ease forwards;
    animation-delay: 0.1s;
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      filter: blur(0);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Obtener referencia al botón de envío del formulario de garantia
    const btn = document.getElementById("button-garantia");

    // Agregar el manejador de eventos para el envío del formulario de garantia
    const formElement = document.getElementById("form-garantia");
    if (formElement) {
      formElement.addEventListener("submit", function (event) {
        event.preventDefault(); // Evita el envío predeterminado del formulario

        btn.value = "Sending..."; // Cambiar texto del botón a "Sending..."

        // Crear un objeto FormData a partir del formulario
        const formData = new FormData(this);

        // Agregar el estado del checkbox con un mensaje personalizado
        const dataConsent = document.getElementById("dataConsent-garantia").checked
          ? "He aceptado el tratamiento de mis datos personales."
          : "No he aceptado el tratamiento de mis datos personales.";

        formData.append("dataConsent", dataConsent); // Agregar estado del checkbox

        const serviceID = "service_umm7dcs";
        const templateID = "template_f5tfw7e";

        // Enviar el formulario a EmailJS
        emailjs.sendForm(serviceID, templateID, this).then(
          () => {
            btn.value = "Send Email"; // Restaurar el texto del botón
            alert("¡Enviado!"); // Mostrar mensaje de éxito
          },
          (err) => {
            btn.value = "Send Email"; // Restaurar el texto del botón
            alert("Error: " + JSON.stringify(err)); // Mostrar mensaje de error
          },
        );
      });
    } else {
      console.error("Formulario de garantia no encontrado.");
    }
  });
</script>