---
const { especialidad } = Astro.props;
const { img } = Astro.props;
const { estilo } = Astro.props;
---

<div class="flex items-center justify-center sm:flex-col-reverse md:flex-row sm:mt-[30px] lg:mt-[150px] lg:gap-12 lg:mb-12 sm:gap-0 sm:mb-0">
    <img class="animacion from-left md:w-[250px] lg:w-[440px] xl:w-[400px] 2xl:w-[500px]  h-auto " src={ img } alt="asd">
    <div class="animacion from-left !text-center">
      <span class="  !text-white !text-center xl:text-[100px] lg:text-[75px] sm:text-[40px] slide-main--heading lg:!leading-[120px] sm:!leading-normal titulos uppercase w-auto"> ESPECIALIDAD</span>
      <h1 class={`!text-white !text-center xl:text-[100px] lg:text-[75px] sm:text-[40px] bg-naranja px-8 py-4 uppercase [text-shadow:_0_1px_1px_rgb(00_00_00_/1)] ${estilo}`}>{especialidad} </h1>
    </div>
    
<!--     <h1 class="animacion from-left !text-white !text-center xl:text-[100px] lg:text-[75px] sm:text-[40px] slide-main--heading lg:!leading-[120px] sm:!leading-normal titulos uppercase w-auto"> <span class={`text-naranja xl:text-[100px] lg:text-[75px] sm:text-[40px] bg-white px-8` }> ESPECIALIDAD </span> <br> {especialidad} </h1> -->
  </div>

  