@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "GT Walsheim";
  src: url("/fuentes/gt-walsheim/GT-Walsheim-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("/fuentes/gt-walsheim/GT-Walsheim-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

.titulos {
    @apply sm:text-[30px] md:text-[48px] text-azul lg:text-4xl xl:text-4xl   font-GTWalsheim font-black sm:text-left sm:leading-none lg:text-left tracking-tight;
}
.subtitulos {
    @apply sm:text-2xl lg:text-2xl xl:text-3xl font-GTWalsheim font-black text-azul sm:text-justify lg:text-left sm:leading-none  xl:!leading-7;
}

.titulos-h3 {
    @apply sm:text-xl lg:text-xl xl:text-2xl font-GTWalsheim font-black sm:text-center text-azul lg:text-left sm:!leading-[1.2] xl:!leading-7 ;
}


.parrafo {
    @apply  sm:text-lg  lg:text-lg 2xl:text-lg  font-GTWalsheim font-light text-black sm:text-justify sm:!leading-[1.2]  tracking-normal;
}

.lista {
  @apply lg:text-lg sm:text-lg font-GTWalsheim text-black sm:text-justify sm:!leading-[1.2] tracking-tight;
}

.faqs-titles {
    @apply lg:text-lg sm:text-lg font-GTWalsheim  text-black sm:text-justify
}

.introduce {
    @apply text-black lg:text-base sm:text-xl  sm:text-justify lg:text-center;
}

summary {
    @apply font-GTWalsheim text-black text-lg  bg-orange-200 rounded-md py-2 px-4 sm:!leading-[1.2rem];
}

details {
    @apply cursor-pointer;
}


.titulos-nav {
  @apply lg:text-base text-left
}


/* blog */

.fecha {
    @apply font-GTWalsheim
}


.titulos-blog-card {
    @apply sm:text-2xl lg:text-lg xl:text-xl font-GTWalsheim font-bold sm:text-left lg:text-left text-azul sm:!leading-[1.2] !leading-7 tracking-tight py-2;
}

.subtitulos-blog {
    @apply !leading-7 tracking-tight lg:text-lg xl:text-2xl;
}

dt, dd {
  @apply font-GTWalsheim sm:!leading-[1.2] tracking-tight;
}


h1 { @apply titulos; }
h2 { @apply subtitulos; }
h3 { @apply titulos-h3; }
p { @apply parrafo; }
li { @apply lista; }
time { @apply fecha; }

/* HOVER MEGAMENU */

.background {
    border-radius: 5px;
    transition: background-color 0.3s ease
}

.background:hover {

    color: #f2790c;
    background-color: white; /* Color al hacer hover */
  }


.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.container {
  width: 100%;
}
@media (min-width: 360px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}