---
import MegaMenu from "../components/MegaMenu.astro";
import Footer from "../components/Footer.astro";
import UltimosPost from "../components/Blog/UltimosPost.astro";
import BotonesFlotantes from "../components/BotonesFlotantes.astro";
import "../estilos.css";

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/src/estilos.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="https://use.typekit.net/nfy3ymk.css">
    <script src="https://static.elfsight.com/platform/platform.js" async
    ></script>
  </head>

  <body class="overflow-x-hidden">
    <header>
      <MegaMenu
        positionNav="fixed"
        bgNav="sm:bg-naranja md:bg-transparent border-b border-white hover:bg-naranja"
      />
    </header>

    <main class="sm:mt-[90px] lg:mt-0">
      <slot />
      <BotonesFlotantes/>
      <UltimosPost />
    </main>

    <footer>
      <Footer />
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script src="/src/main.js"></script>
    <script src="flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
